* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color: white;
  /* font-family: 'Prompt', sans-serif; */
}

body {
  display: flex;
  background-color: black;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 430px;
  width: 100vw;
  padding: 20px;
}

button {
  border-radius: 5px;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
  border: 10px;
  width: 5px;
}

/**********/
/* Navbar */
/**********/
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 60px;
  width: 100%;
  top: 7px;
  z-index: 10;
}

.nav-search-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  margin-left: 50px;
}

.nav-search {
  position: relative;
  background-color: rgb(39, 39, 39);
  border: solid 2px inset rgb(80, 80, 80);
  border-radius: 10px;
  height: 30px;
  width: 200px;
  color: white;
  padding-left: 10px;
}

.nav-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(39, 39, 39);
  margin-left: 10px;
  cursor: pointer;
}

.nav-search-button > img {
  height: 100%;
  width: auto;
}

.nav-title {
  position: relative;
  color: gray;
  text-shadow: 2px 2px white;
  left: 50%;
  transform: translateX(-50%);
}

.nav-menu-icon {
  margin-right: 50px;
  margin-top: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/***************/
/* SearchModal */
/***************/
.modal-overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: 20px;
  height: 80vh;
  width: 980px;
  background-color: gray;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 30px;
  animation: open 0.4s ease forwards;
  transform-origin: top;
  z-index: 5;
}

.modal-drop-down {
  position: fixed;
  z-index: 4;
  background-color: gray;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  transform: rotate(45deg);
  left: 80px;
  top: 65px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/***************/
/* SearchTiles */
/***************/
.search-tiles {
  display: flex;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-tiles-poster-container {
  height: 100%;
  width: 150px;
}

.search-tiles-poster {
  height: 225px;
  object-fit: contain;
  border-radius: 5%;
}

.search-tiles-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  height: 200px;
  width: 500px;
  overflow: auto;
}

.search-tiles-header {
  display: flex;
  justify-content: left;
  width: 100%;
  font-size: 8px;
}

.search-tiles-date {
  margin-left: 20px;
  color: rgb(180, 180, 180);
  min-width: 100px;
}

.search-tiles-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.search-tiles-buttons {
  width: 200px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.search-tiles-buttons:hover {
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 3px black;
}

.search-tiles-buttons:active {
  transform: translate(1px, 1px);
  box-shadow: inset 1px 1px 3px black;
}

.search-tiles-buttons.watched {
  background-color: green;
}

.search-tiles-buttons.unwatched {
  background-color: red;
}

.search-tiles-watched,
.search-tiles-unwatched {
  width: 200px;
  font-size: 15px;
}

/***********/
/* Watched */
/***********/
.watched {
  margin-top: 60px;
}

.watched-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  padding: 30px 30px 20px 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
}

.watched-title {
  position: absolute;
  transform: rotate(-90deg);
  width: 10px;
  margin-top: 50px;
  left: 10px;
  font-size: 20px;
  color: rgb(180, 180, 180);
}

/*************/
/* Unwatched */
/*************/
.unwatched-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  padding: 30px 30px 20px 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  
}

.unwatched-title {
  position: absolute;
  transform: rotate(-90deg);
  width: 10px;
  margin-top: 100px;
  left: 10px;
  font-size: 20px;
  color: rgb(180, 180, 180);
}

/********/
/* Tile */
/********/
.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: auto;
  cursor: pointer;
}

.tiles-poster {
  height: 100%;
  border-radius: 5%;
  box-shadow: 5px 5px 10px black;
}

.tiles-poster:hover {
  transform: translate(-2px, -2px);
  box-shadow: 7px 7px 15px black;
}

.tiles-poster:active {
  transform: translate(1px, 1px);
  box-shadow: 5px 5px 10px black;
}

/***************/
/* DetailModal */
/***************/
.detail-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 30px;
  border-radius: 20px;
  z-index: 5;
}

.detail-modal-title {
  margin: 0;
  font-size: 20px;
}

.detail-modal-date {
  margin: 0;
  font-size: 20px;
  color: rgb(180, 180, 180);
}

.detail-modal-overview {
  font-size: 15px;
  height: 35%;
  margin: 0 30px 10px 30px;
  overflow-y: scroll;
}

.detail-modal-buttons {
  position: absolute;
  bottom: 40px;
}

.detail-modal-move {
  background-color: green;
  margin: 5px;
  cursor: pointer;
}

.detail-modal-move:hover {
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 3px black;
}

.detail-modal-move:active {
  transform: translate(1px, 1px);
  box-shadow: inset 1px 1px 3px black;
}

.detail-modal-remove {
  background-color: red;
  margin: 5px;
  cursor: pointer;
}

.detail-modal-remove:hover {
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 3px black;
}

.detail-modal-remove:active {
  transform: translate(1px, 1px);
  box-shadow: inset 1px 1px 3px black;
}

/*************/
/* MenuModal */
/*************/
.menu-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  right: 0;
  top: 0;
  margin-top: 80px;
  margin-right: 40px;
  background-color: gray;
  width: 180px;
  height: 150px;
  border-radius: 10px;
  animation: open 0.4s ease forwards;
  transform-origin: top;
  box-shadow: 3px 3px 10px black;
  padding: 15px;
  z-index: 5;
}

.menu-modal > h1 {
  font-size: 20px;
}

.menu-modal-drop-down {
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  transform: rotate(45deg);
  background-color: gray;
  right: 10px;
  top: -10px;
}

.menu-modal-login {
  align-self: center;
  margin-top: 15px;
  width: 60px;
  height: 33px;
  align-items: center;
  padding: 5px;
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}

.menu-modal-login:hover {
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 3px black;
}

.menu-modal-login:active {
  transform: translate(1px, 1px);
  box-shadow: inset 1px 1px 3px black;
}

@keyframes open {
  0% {
    transform: scaleY(0%);
  }
  80% {
    transform: scaleY(110%);
  }
  100% {
    transform: scaleY(100%)
  }
}