* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/**********/
/* Navbar */
/**********/
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  outline: solid red;
  height: 60px;
  width: 100vw;
  top: 0;
}

.nav-search-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  margin-left: 20px;
}

.nav-search {
  background-color: rgb(39, 39, 39);
  border: solid 2px inset rgb(80, 80, 80);
  border-radius: 10px;
  height: 30px;
  width: 200px;
  color: white;
}

.nav-search-button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.nav-title {
  position: fixed;
  color: black;
  text-shadow: 2px 2px white;
  left: 50%;
  transform: translateX(-50%);
}

/***********/
/* Watched */
/***********/
.watched {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: solid red;
  height: calc(50vh - 30px);
  width: 100vw;
  margin-top: 60px;
}

/*************/
/* Unwatched */
/*************/
.unwatched {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: solid red;
  height: calc(50vh - 30px);
  width: 100vw;
}